:root { 
--blue_700:#0575e6; 
--indigo_900_01:#021b79; 
--blue_300:#699bf7; 
--indigo_900:#022889; 
--blue_gray_900:#333333; 
--blue_gray_900_75:#33333375; 
--gray_200:#eeeeee; 
--white_A700:#ffffff; 
}